<ion-content [fullscreen]="true">
  <div class="page">
    <div class="auth-top">
      <div class="brand">
        <span class="logo-box"><ion-icon name="nutrition-outline"></ion-icon></span>
        <span>Fresh of<strong>Verdant</strong></span>
      </div>
      <h1>Welcome back</h1>
      <p>Sign in to continue to your fresh picks.</p>
    </div>

    <div class="auth-sheet">
      <label class="field-label">Email / Username</label>
      <div class="field">
        <ion-icon name="mail-outline"></ion-icon>
        <input type="text" placeholder="you@example.com" [(ngModel)]="email" />
      </div>

      <label class="field-label">Password</label>
      <div class="field">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <input [type]="showPassword ? 'text' : 'password'" placeholder="Enter your password" [(ngModel)]="password" />
        <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'" (click)="showPassword = !showPassword"></ion-icon>
      </div>

      <div class="row">
        <ion-checkbox labelPlacement="end" [(ngModel)]="remember">Remember Me</ion-checkbox>
        <a routerLink="/forgot-password" class="forgot">Forgot Password?</a>
      </div>

      <button class="fv-btn" (click)="signIn()">Sign In <ion-icon name="arrow-forward"></ion-icon></button>

      <div class="bottom">
        <p class="secure"><i></i> Secure checkout-ready access</p>
        <p>Don't have an account? <a routerLink="/register">Sign Up</a></p>
      </div>
    </div>
  </div>
</ion-content>