<ion-content [fullscreen]="true">
  <div class="page">
    <div class="auth-top">
      <div class="top-row">
        <a class="back" routerLink="/login"><ion-icon name="arrow-back"></ion-icon></a>
        <span class="logo-box"><ion-icon name="nutrition-outline"></ion-icon></span>
      </div>
      <h1>Reset your password</h1>
      <p>Enter the email address registered to your account. We'll send a secure reset link.</p>
    </div>

    <div class="auth-sheet">
      <label class="field-label">Email Address</label>
      <div class="field">
        <ion-icon name="mail-outline"></ion-icon>
        <input type="email" placeholder="you@example.com" [(ngModel)]="email" />
      </div>

      <button class="fv-btn send" (click)="sendLink()">Send Reset Link <ion-icon name="send-outline"></ion-icon></button>

      @if (sent) {
        <div class="success">
          <ion-icon name="checkmark-circle"></ion-icon>
          <div>
            <strong>Reset link sent to your email</strong>
            <small>Check your inbox and spam folder.</small>
          </div>
        </div>
      }

      <div class="bottom">
        <a routerLink="/login">Back to Login</a>
        <small>
          Didn't receive it?
          @if (sent && secondsLeft > 0) { Try again in {{ secondsLeft }} seconds. }
          @else { <a (click)="sendLink()">Send again.</a> }
        </small>
      </div>
    </div>
  </div>
</ion-content>